@use "variables/colors";
@use "variables/fonts";
@use "partials/find-form";
@use "partials/search-form";
@use "partials/header";

* {
  box-sizing: border-box;
}
body {
  font-family: fonts.$font;
  margin: 0;
  width: 100vw;
  height: auto;
}

.break-line {
  height: 0;
  opacity: 0.4;
  border: 1px solid colors.$text-secondary-color;
}

input[type="submit"] {
  font-weight: 600;
  border-radius: 100px;
  color: colors.$text-terceary-color;
  background-color: colors.$input-secondary-background-color;
}
