@use "variables/colors";
@use "variables/fonts";
@use "variables/spacing";
@use "variables/mediaquerys";
@use "components/form";
@use "components/header";
@use "components/footer";
@use "components/card";


* {
  box-sizing: border-box;
}
body {
  font-family: fonts.$font;
  margin: 0;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}
h2 {
  @include mediaquerys.desktop {
    font-size: 32px;
  }
}
h3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}
h4 {
  margin: 0;
  font-weight: 600;
  font-size: 21px;
}
p {
  font-size: 18px;
  color: colors.$border-primary-color;
}
section {
  width: 100%;
}
.page-container {
  margin: 0;
  width: 100vw;
  max-width: 1500px;
}
.break-line {
  height: 0;
  width: 100%;
  opacity: 0.4;
  border: 1px solid colors.$text-secondary-color;
}
article {
  width: 100%;
  padding: 20px;
  color: colors.$primary-color;
}
.content {
  margin: spacing.$spacing-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaquerys.desktop {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}
.main-content {
  width: 100%;
  max-width: 770px;
}
.card {
  width: 100%;
  @include card.card;
}
main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
