@use "../variables/mediaquerys";
@use "../partials/carousel";
@use "../partials/button";
@use "../partials/rating";

@mixin card {
  display: flex;
  flex-direction: column;

  @include rating.rating;

  .carousel {
    @include carousel.carousel;
  }
  button {
    @include button.buttonDefault;
    @include mediaquerys.desktop {
      position: absolute;
      top: -50px;
      right: 0;
    }
  }
  @include mediaquerys.desktop {
    flex-direction: row;
  }
}
