@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/mediaquerys";
@use "../variables/spacing";

footer {
  width: 100%;
  margin: spacing.$spacing-primary;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
  @include mediaquerys.desktop {
    margin: none;
    flex-direction: row;
    text-align: left;
  }
  .navigation-footer {
    display: none;
    @include mediaquerys.desktop {
      display: block;
    }
  }
}

footer > * {
  @include mediaquerys.desktop {
    max-width: 260px;
  }
}
.title {
  font-size: 55px;
  color: colors.$primary-color;
}
@media (min-width: 1310px) {
  .footer-container {
    font-size: 20px;
  }
  .navigation-footer {
    display: block;
  }
}
p {
  font-size: 16px;
}
ul {
  text-align: left;
  list-style: none;
}
