$primary-color: #5f2eea;
$secondary-color: #2a00a2;

$text-secondary-color: #bca4ff;
$text-terceary-color: #f7f7fc;
$text-forth-color: #5f2eea;

$input-primary-background-color: #eff0f7;
$input-secondary-background-color: #ed2e7e;

$input-border-color: #14142b;
$second-border-color: #d9dbe9;

$shadow-color: #bca4ff;
$input-colors: #f7f7fc;
$input-border: 2px solid #14142b;
$button-color: #ed2e7e;