$primary-color: #5f2eea;
$secondary-color: #2a00a2;

$text-secondary-color: #bca4ff;
$text-terceary-color: #f7f7fc;
$text-forth-color: #5f2eea;

$background-primary-color: #eff0f7;
$background-secondary-color: #ed2e7e;

$border-primary-color: #14142b;
$border-secondary-color: #d9dbe9;

$shadow-color: #bca4ff;
