@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/mediaquerys";

@mixin inputDefault {
  height: 60px;
  width: 100%;
  padding: 20px;
  border: 0;
  color: colors.$border-primary-color;
  background-color: colors.$background-primary-color;
  border-radius: 17px;
  margin: 0 0 13px 0;
  font-family: fonts.$font;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.75px;
}
