@use "../variables/colors";

@mixin rating {
  .rating {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  input {
    display: none;
  }
  label {
    width: 30px;
    height: 40px;
    font-size: 30px;
  }
  input + label::after {
    content: "\2606";
    color: colors.$background-secondary-color;
  }
  input:checked + label::after {
    content: "\2605";
    color: colors.$background-secondary-color;
  }
}
